# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual Studio files
*.suo
*.manifest
*.manifest.res
*.ilk
*.pdb
*.dep
*.idb
*.user
*.ncb
*BuildLog.htm
*Lib/glew*